* {
    box-sizing: border-box;
}

body {
    font-family: 'Inria Serif', serif;
    color: white;
    height: 100vh;
    max-width: 100vw;
}

.body-container {
    background-color: black;
}

.header-image {
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
}

.image-wrapper {
    position: relative;
    width: fit-content;
    height: auto;
    width: 100%;
}

.border-glow-bottom {
    border-bottom: 1.5px solid #008C95;
    box-shadow: #008C95 0px 0px 3px;
}

.border-glow-round {
    border: 1.5px solid #008C95;
    box-shadow: #008C95 0px 0px 3px;
}

h1 {
    font-size: 48px;
    position: absolute;
    bottom: 1%;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: 20;
    text-align: center;
}

h2 {
    margin-bottom: 100px;
}

h3 {
    margin-bottom: 48px;
}

h2, h3 {
    font-size: 48px;
}

.artist-image-wrapper {
    max-height: 628px;
    max-width: 400px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    overflow: hidden;
    margin-left: 10%;
}

.artist-image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.sections-wrapper {
    margin: 0 150px 0 150px;
}

.icon {
    width: 40px;
    height: 40px;
    margin: 0 15px 0 0;
}

.section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left; 
    margin-top: 120px;
}

.gallery-section {
    margin: 150px;
    padding: 0 0 100px 0;
    width: auto;
    box-sizing: border-box;
}

.gallery-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
}

.gallery-image:hover {
    box-shadow: 0 0 15px 5px #008C95;
}

.gallery-image.enlarged {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 1000;
    box-shadow: 0 0 30px 10px #008C95;
}

.gallery-image:not(.enlarged) {
    z-index: 1;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px)); 
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.paragraph-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.paragraph {
    width: 45%;
    margin-bottom: 0;
}

.links-wrapper-mobile {
    display: none;
}

.paragraph-section {
    height: 100%;
}

@media (max-width: 1293px) {
    .sections-wrapper {
        margin: 0 20px;
    }

    .section-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        margin: 50px 0;
    }

    .paragraph-section {
        width: 60%;
    }

    .paragraph-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .paragraph {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .icon {
        width: 30px;
        height: 30px;
        margin: 0;
    }

    .gallery-section {
        margin: 0 20px;
    }

    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
        gap: 15px;
    }

    .gallery-image {
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
        cursor: pointer;
    }

    h1, h2, h3 {
        font-size: 32px;
    }

    h2 {
        margin-bottom: 50px;
    }

    .artist-image-wrapper {
        width: 30%;
        height: auto;
        margin: 20px 0;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 24px;
        position: absolute;
        bottom: -2%;
        left: 20%;
        transform: translate(-50%, -50%);
        z-index: 20;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .section-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 50px 20px;
        margin-bottom: 0;
    }

    .artist-image-wrapper {
        width: 60%;
        height: auto;
        margin: 10px auto;
        order: -1;
    }

    .links-wrapper {
        display: none;
    }

    .links-wrapper-mobile {
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: 10px auto;
        order: 0;
    }

    .paragraph-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        order: 2;
    }

    .gallery-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gallery-image {
        width: 250px;
        height: 250px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
        cursor: pointer;
    }

    .paragraphs {
        margin: 60px 20px;
    }

    h1 {
        font-size: 24px;
        position: absolute;
        bottom: -2%;
        left: 20%;
        transform: translate(-50%, -50%);
        z-index: 20;
        text-align: center;
    }

    h2, h3 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .paragraph-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 16px;
        position: absolute;
        bottom: -5%;
        left: 25%;
        transform: translate(-50%, -50%);
        z-index: 20;
        text-align: center;
    }

    h2, h3 {
        font-size: 16px;
    }
}